<style>


</style>

<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Canberra based IT solutions</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
         [routerLinkActiveOptions]="{exact:
true}" href="#">Home</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page"
         [routerLinkActiveOptions]="{exact:
true}">Contact</a>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="mt-auto" style="color: gray">
  <p>&copy; 2022 - pepar.tech</p>
</footer>

